@font-face {
  font-family: 'KG Next to Me';
  font-style: normal;
  font-weight: 400;
  src: local('KG Next to Me'), url('/static/fonts/KGNextToMe-Solid.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('/static/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('/static/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'icons';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/icons.ttf') format('truetype');
}

body, html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: -webkit-border-box;
  box-sizing: -moz-border-box;
  box-sizing: border-box;
}

/* General layout */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.two-up {
  width: 100%;
  margin-top: 1em;
}

.two-up > div {
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.two-up > div:last-child {
  border-left: 1px solid #ccc;
}

.clear {
  clear: both;
  padding-top: 10px;
}

/* Typography */

h3 {
  font-weight: 300;
  text-align: center;
  color: #555;
}

.sub {
  display: block;
  font-size: 0.7em;
}

h4 {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

.little {
  font-size: 0.8em;
}

/* Common Header */

header {
  background-color: #443C72;
  font-family: 'KG Next to Me', 'Open Sans', sans-serif;
  color: white;
}

header h1 {
  margin: 0;
  font-size: 22px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: normal;
}

/* forms */
form .feedback-area {
  color: red;
  display: none;
}

form.has-errors .feedback-area {
  display: block;
}

form .has-error {
  color: red;
}

.text-field, .radio-group {
  display: block;
  margin-bottom: 15px;
}

input, button {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #DCD8F2;
  border: none;
  font-family: inherit;
  font-size: 1em;
  padding: 0 15px;
}

input[type=radio] {
  display: none;
}

.radio-group-radios {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 40px;
}

.radio-group-radios > label {
  display: table-cell;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  background-color: #DCD8F2;
  border-right: 1px solid white;
  cursor: pointer;
}

.radio-group-radios > label::before {
  font-family: icons, sans-serif;
  display: inline-block;
  width: 1.5em;
  opacity: 0.3;
  content: 'n';
}

.radio-group-radios > input:checked + label {
  background-color: #A79AED;
}

.radio-group-radios > input:checked + label::before {
  opacity: 0.5;
  content: 'y';
}

.radio-group-radios > label:last-child {
  border-right: none;
}

.button-smaller {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

button, input[type=button] {
  cursor: pointer;
  margin-bottom: 15px;
}

button:hover, input[type=button]:hover {
  background-color: #A79AED;
}

/* Button lists */
.button-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-list button {
  display: inline-block;
  width: auto;
}

.button-list li {
  float: left;
}

.button-list-little button {
  font-size: 0.8em;
  height: auto;
  padding: 5px 10px;
  margin-left: 5px;
  margin-bottom: 5px;
}

/* Single Sign On buttons */
.sso {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sso-button {
  display: block;
  color: white;
  text-decoration: none;
  height: 40px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 300;
  line-height: 40px;
  transition: opacity 0.3s ease;
}

.sso-button:hover, .sso-button:focus {
  opacity: 0.8;
}

.sso-button::before {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-family: icons, sans-serif;
  font-weight: normal;
  font-size: 24px;
  text-align: left;
  line-height: 1em;
  vertical-align: bottom;
  margin-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.sso-button-google {
  background: #dd4b39;
}

.sso-button-google::before {
  content: 'g';
  padding-top: 10px;
  padding-left: 8px;
}

.sso-button-facebook {
  background: #3b5998;
}

.sso-button-facebook::before {
  content: 'f';
  padding-top: 6px;
  padding-left: 5px;
}

.sso-button-twitter {
  background: #00aced;
}

.sso-button-twitter::before {
  content: 't';
  padding-top: 9px;
  padding-left: 8px;
}
