<layout-use template="../layout.marko" show-header="$true">
  <layout-put into="title">Thank You</layout-put>
  <layout-put into="body">
    <h2>Your email has been verified!</h2>
    <p>
      Thank you for being living the greatest living email-verifier
      that has ever walked this earth <em>- Tarquin xx</em>
    </p>
  </layout-put>
</layout-use>
